/* Styles for the Startup Resources Page */
body {
    font-family: Arial, sans-serif;
  }
  
  .startup-resources {
    max-width: 1200px;
    margin: 80px auto; /* Adds space between navbar and content */
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .startup-resources h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 40px;
  }
  
  /* Resource Section Styles */
  .resource-section {
    margin-bottom: 40px;
  }
  
  .resource-section h2 {
    font-size: 1.75rem;
    color: #0056b3;
    border-bottom: 2px solid #0056b3;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .resource-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .resource-section li {
    margin-bottom: 20px;
  }
  
  .resource-section a {
    text-decoration: none;
    color: #0056b3;
  }
  
  .resource-section a:hover h3 {
    color: #003366;
  }
  
  .resource-section h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  .resource-section p {
    font-size: 1rem;
    color: #555;
  }
  

  
  li:hover a {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .startup-resources {
      padding: 10px;
    }
  
    .startup-resources h1 {
      font-size: 2rem;
    }
  
    .resource-section h2 {
      font-size: 1.5rem;
    }
  
    .resource-section h3 {
      font-size: 1.25rem;
    }
  }
  